version: "3.9"

services:
  backend:
    build:
      context: ./Backend
    container_name: skillproof-backend
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build:
      context: ./Frontend
    container_name: skillproof-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped
